In [1]:
import pandas as pd

In [8]:
data = pd.read_csv('skills.csv')

In [9]:
data

           skill                                education
0         python  bachelor of science in computer science
1           java           bachelor of science in physics
2            c++       bachelor of science in mathematics
3             c#            bachelor of arts in economics
4     javascript              bachelor of arts in history
..           ...                                      ...
495      flutter  bachelor of science in computer science
496     netbeans     master of engineering in electronics
497       testng                                    b.lit
498        react           certificate in cloud computing
499  a/b testing            certificate in graphic design

[500 rows x 2 columns]